/* HAMMER ANIMATION - PROP 51
_________________________________________*/
.hammer {
	-webkit-animation-name: hammer;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-direction: alternate;
	-webkit-animation-iteration-count: infinite;

	-ms-animation-name: hammer;
	-ms-animation-duration: 0.5s;
	-ms-animation-direction: alternate;
	-ms-animation-iteration-count: infinite;

	-moz-animation-name: hammer;
	-moz-animation-duration: 0.5s;
	-moz-animation-direction: alternate;
	-moz-animation-iteration-count: infinite;

	animation-name: hammer;
	animation-duration: 0.5s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

@-webkit-keyframes hammer {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(90deg);}
}

@-ms-keyframes hammer {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(90deg);}
}

@-moz-keyframes hammer {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(90deg);}
}

@keyframes hammer {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(90deg);}
}


/* COIN ANIMATIONS - PROP 52
_________________________________________*/
#prop52>div[data="coin"] {
	-webkit-animation-name: givetake;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-play-state: paused;

	-ms-animation-name: givetake;
	-ms-animation-duration: 2s;
	-ms-animation-iteration-count: infinite;
	-ms-animation-play-state: paused;


	-moz-animation-name: givetake;
	-moz-animation-duration: 2s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-play-state: paused;


	animation-name: givetake;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-play-state: paused;

}

@-webkit-keyframes givetake {
	0% {left: 20%;bottom: 35%;}
	25% {left: 75%;bottom: 35%;}
	50% {left: 75%;bottom: 10%;}
	75% {left:20%;bottom:10%;}
	100% {left: 20%;bottom: 35%;}
}

@-ms-keyframes givetake {
	0% {left: 20%;bottom: 35%;}
	25% {left: 75%;bottom: 35%;}
	50% {left: 75%;bottom: 10%;}
	75% {left:20%;bottom:10%;}
	100% {left: 20%;bottom: 35%;}
}

@-moz-keyframes givetake {
	0% {left: 20%;bottom: 35%;}
	25% {left: 75%;bottom: 35%;}
	50% {left: 75%;bottom: 10%;}
	75% {left:20%;bottom:10%;}
	100% {left: 20%;bottom: 35%;}
}

@keyframes givetake {
	0% {left: 20%;bottom: 35%;}
	25% {left: 75%;bottom: 35%;}
	50% {left: 75%;bottom: 10%;}
	75% {left:20%;bottom:10%;}
	100% {left: 20%;bottom: 35%;}
}

/* SMOKE ANIMATIONS - PROP 56
_________________________________________*/
.smoke {
	-webkit-animation-name: smoke;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: smoke;

	-ms-animation-name: smoke;
	-ms-animation-duration:1s;
	-ms-animation-iteration-count: infinite;

	-moz-animation-name: smoke;
	-moz-animation-duration: 1s;
	-moz-animation-iteration-count: infinite;

	animation-name: smoke;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

@-webkit-keyframes smoke {
	0% {width: 10px;height: 10px;bottom: 145px;left: 400px;}
	100% {width: 50px;height: 50px;bottom: 20%;left: 400px;}
}

@-ms-keyframes smoke {
	0% {width: 10px;height: 10px;bottom: 145px;left: 400px;}
	100% {width: 50px;height: 50px;bottom: 20%;left: 400px;}
}

@-moz-keyframes smoke {
	0% {width: 10px;height: 10px;bottom: 145px;left: 400px;}
	100% {width: 50px;height: 50px;bottom: 20%;left: 400px;}
}

@keyframes smoke {
	0% {width: 10px;height: 10px;bottom: 145px;left: 400px;}
	100% {width: 50px;height: 50px;bottom: 20%;left: 400px;}
}
