@font-face {
	font-family:'raleway';
	src: url('fonts/raleway/Raleway-Regular.ttf');
}

@font-face {
	font-family:'raleway';
	src: url('fonts/raleway/Raleway-Bold.ttf');
	font-weight:700;
}

@font-face {
	font-family:'raleway';
	src: url('fonts/raleway/Raleway-Black.ttf');
	font-weight:900;
}

@font-face {
	font-family:'raleway';
	src: url('fonts/raleway/Raleway-Italic.ttf');
	font-style:italic;
}

@font-face {
	font-family:'merriweather';
	src: url('fonts/merriweather/MerriweatherSans-Regular.ttf');
}

@font-face {
	font-family:'merriweather';
	src: url('fonts/merriweather/MerriweatherSans-Light.ttf');
	font-weight:300;
}

@font-face {
	font-family:'merriweather';
	src: url('fonts/merriweather/MerriweatherSans-Bold.ttf');
	font-weight:700;
}

@font-face {
	font-family:'merriweather';
	src: url('fonts/merriweather/MerriweatherSans-Italic.ttf');
	font-style:italic;
}

