/* GENERAL STYLES
_________________________________________*/
body, html {font-size:100%;}
html {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color:rgba(39, 86, 123,1);
}
strong {font-weight:700;} em {font-style:italic;}
h1,h2,h3,h4 {font-family: 'raleway',san-serif;}
p, li, ol, span, a {
	font-family: merriweather, sans-serif;
    font-size: 1rem;
    margin: 1rem 0;
    font-weight:300;
    line-height: 1.6rem;
    color:#111;
}
p {margin: 5rem 0;}
h1 {
	font-size: 5rem;    
    font-weight:900;
}
h2 {
	margin: 1rem 0;
    font-size: 2rem;
}
h3 {
	font-size: 1.4rem;
	margin: 1rem 0;
}

#container {
	width:100%;
	height:100%;
	overflow:hidden;
	position: relative;
}

@media only screen and (min-device-width:320px) and (max-device-width:767px) and (-webkit-min-device-pixel-ratio:2){
	h1 {font-size: 8rem;}
	h2 {font-size: 4rem;margin:4rem 0;}
	p, li, ol, span, a {font-size: 2rem;line-height: 3rem;}
	p {margin: 9rem 0;}
}

/* SPECIAL CLASSES
_________________________________________*/
.hide {display: none;}
.txtcenter {text-align: center;}
.relative {
	position:absolute;
	height:100%;
	width:100%;
}
.abscenter {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
    top: 50%;
    width: 80%;
}

.startpos {z-index:-1;left:10000;}
.higher {z-index:50;}

.rightcaret {
	right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: .3;
    width: 100px;
    z-index: 100;
}
.upcaret {
	top: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    width: 100px;
    z-index: 100;
}
.downcaret {
	bottom: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    width: 100px;
    z-index: 100;
}
.leftcaret {
	left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    width: 100px;
    z-index: 100;
} 


@media only screen and (min-device-width:320px) and (max-device-width:767px) and (-webkit-min-device-pixel-ratio:2){
	.abscenter {width: 95%;}
}

/* COLOR CLASSES
_________________________________________*/

.darkblue, .darkblue a, .darkblue p, .darkblue li, .darkblue span {
	background-color:rgba(39, 86, 123,1);
	color:#fff;
}
.darkred, .darkred a, .darkred p, .darkred li, .darkred span {
	background-color:#7b272c;
	color:#fff;
}
.darkgreen, .darkgreen a, .darkgreen p, .darkgreen li, .darkgreen span {
	background-color:#2c7b27;
	color:#fff;
}

.yellowtxt {color:#e2dfa4;}

/* INTRO SLIDE
_________________________________________*/
#intro img {
	width: 40%;
    display: block;
    margin: 60 auto;
}

@media only screen and (min-device-width:320px) and (max-device-width:767px) and (-webkit-min-device-pixel-ratio:2){
	#intro img {width: 75%;}
}

/* ABOUT SLIDE
_________________________________________*/
#about p {width:75%;margin-left:auto;margin-right:auto;}


/* COOKIE QUESTIONS
_________________________________________*/
.cookie {width:50%;}
.cookie svg {fill: rgba(123, 76, 39,1);}

#yescookie .cookie {
	width:30%;
    top: -200px;
}
#yescookie>div:last-of-type {top:115%;}

@media only screen and (min-device-width:320px) and (max-device-width:767px) and (-webkit-min-device-pixel-ratio:2){
	.cookie {width:70%;}
}



/* PROP QUESTIONS
_________________________________________*/

#progress {
	height: 2%;
    max-height: 15px;
}
	#progress>div {
	    width: 100%;
	    height: 80%;
	    margin: 10 auto;
	}

	#progress>div>div {
		width:40%;
		background-color:darkgreen;
		height: 100%;
	}

#question {height:98%;}

	#question>div {
	    transform: translate(-50%, -40%);
    	top: 40%;
	    width:80%;
	}

