/* GENERAL STYLES
_________________________________________*/
body, html {font-size:100%;}
html {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
h1,h2,h3,h4 {font-family: 'raleway',san-serif;}
p, li, ol, span, a {
	font-family: merriweather, sans-serif;
    font-size: 1rem;
    margin: 1rem 0;
    font-weight:300;
}
h1 {
	font-size: 5rem;    
    font-weight:900;
}
h2 {
	margin: 1rem 0;
    font-size: 2rem;
}

#container {
	width:100%;
	height:100%;
	overflow:hidden;
	position: relative;
}

@media only screen and (min-device-width:320px) and (max-device-width:767px) and (-webkit-min-device-pixel-ratio:2){
	h1 {
		font-size: 8rem;
	}

	h2 {
		font-size: 4rem;
		margin:4rem 0;
	}

	p, li, ol, span, a {
	    font-size: 2rem;
	    margin: 2rem 0;
	}
}

/* SPECIAL CLASSES
_________________________________________*/
.hide {display: none;}
.txtcenter {text-align: center;}
.relative {
	position:absolute;
	height:100%;
	width:100%;
}
.abscenter {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
    top: 50%;
    width: 80%;
}
.startpos {left:10000px;}

.rightcaret {
	right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: .3;
    width: 100px;
    z-index: 100;
}
.upcaret {
	top: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    width: 100px;
    z-index: 100;
}
.downcaret {
	bottom: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    width: 100px;
    z-index: 100;
}
.leftcaret {
	left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    width: 100px;
    z-index: 100;
} 

@media only screen and (min-device-width:320px) and (max-device-width:767px) and (-webkit-min-device-pixel-ratio:2){
	.abscenter {		
	    width: 95%;
	}
}

/* COLOR CLASSES
_________________________________________*/

.darkblue {
	background-color:rgba(39, 86, 123,1);
	color:#fff;
}

/* INTRO SLIDE
_________________________________________*/
#intro img {
	width: 40%;
    display: block;
    margin: 60 auto;
}

@media only screen and (min-device-width:320px) and (max-device-width:767px) and (-webkit-min-device-pixel-ratio:2){
	#intro img {width: 75%;}
}

/* COOKIE SLIDE
_________________________________________*/
#cookie>div:first-of-type, #cookie>div:nth-of-type(2) {width:50%;}

#cookie svg {
	fill: rgba(123, 76, 39,1);
}

@media only screen and (min-device-width:320px) and (max-device-width:767px) and (-webkit-min-device-pixel-ratio:2){
	#cookie>div:first-of-type, #cookie>div:nth-of-type(2) {width:90%;}
}

/* PROP QUESTIONS
_________________________________________*/

#progress {
	height: 2%;
    max-height: 15px;
}
	#progress>div {
	    width: 100%;
	    height: 80%;
	    margin: 10 auto;
	}

	#progress>div>div {
		width:40%;
		background-color:darkgreen;
		height: 100%;
	}

#question {height:98%;}

	#question>div {
	    transform: translate(-50%, -40%);
    	top: 40%;
	    width:80%;
	}

