/* GENERAL STYLES
_________________________________________*/
body, html {font-size:100%;}
html {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	/*background-color:rgba(39, 86, 123,1);*/

}
strong {font-weight:700;} em {font-style:italic;}
h1,h2,h3,h4 {font-family: 'raleway',san-serif;}
p, li, ol, span, a {
	font-family: merriweather, sans-serif;
    font-size: 1rem;
    margin: 1rem 0;
    font-weight:300;
    line-height: 1.6rem;
    color:#111;
}
p {margin: 5rem 0;}
h1 {
	font-size: 5rem;    
    font-weight:900;
}
h2 {
	margin: 1rem 0;
    font-size: 2rem;
    line-height: 2.8rem;
}
h3 {
	font-size: 1.4rem;
	margin: 1rem 0;
	line-height: 1.8rem;
}

#container {
	width:100%;
	height:100%;
	overflow:hidden;
	position: relative;
}

@media only screen and (min-device-width:320px) and (max-device-width:767px) and (-webkit-min-device-pixel-ratio:2){
	h1 {font-size: 8rem;}
	h2 {font-size: 4rem;margin:4rem 0;line-height: 5rem;}
	h3 {font-size:2rem;line-height: 3rem;}
	p, li, ol, span, a {font-size: 2rem;line-height: 3rem;}
	p {margin: 9rem 0;}
}

/* SPECIAL CLASSES
_________________________________________*/
.hide {display: none;}
.txtcenter {text-align: center;}
.relative {
	position:absolute;
	height:100%;
	width:100%;
}
.abscenter {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
    top: 50%;
    width: 80%;
}
.xcenter {
	position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top:15px;
    height:100%;
}

.startpos {left:10000;}
.higher {z-index:50;}

.rightcaret, .leftcaret, .upcaret, .downcaret {
    position: absolute;
    opacity: 0;
    width: 50px;
    z-index: 100;
}
.rightcaret {
	right: 0;
    top: 50%;
    transform: translateY(-50%);
    display:block;
    opacity:.3;
}
.upcaret {
	top: 0;
    left: 50%;
    transform: translateX(-50%);    
}
.downcaret {
	bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.leftcaret {
	left: 0;
    top: 50%;
    transform: translateY(-50%);
} 


@media only screen and (min-device-width:320px) and (max-device-width:767px) and (-webkit-min-device-pixel-ratio:2){
	.abscenter {width: 90%;}
}

@media screen and (min-width: 1280px){
	.abscenter {width: 30%;}
}

/* COLOR CLASSES
_________________________________________*/

.darkblue, .darkblue a, .darkblue p, .darkblue li, .darkblue span {
	background-color:rgba(39, 86, 123,1);
	color:#fff;
}
.darkred, .darkred a, .darkred p, .darkred li, .darkred span {
	background-color:#7b272c;
	color:#fff;
}
.darkgreen, .darkgreen a, .darkgreen p, .darkgreen li, .darkgreen span {
	background-color:#2c7b27;
	color:#fff;
}

.darkgray, .darkgray a, .darkgray p, .darkgray li, .darkgray span {
	background-color:#555;
	color:#fff;
}

.yellowtxt {color:#e2dfa4;}

/* INTRO SLIDE
_________________________________________*/
#intro img {
	width: 40%;
    display: block;
    margin: 60 auto;
}

@media only screen and (min-device-width:320px) and (max-device-width:767px) and (-webkit-min-device-pixel-ratio:2){
	#intro img {width: 75%;}
}

/* ABOUT SLIDE
_________________________________________*/
#about p {width:75%;margin-left:auto;margin-right:auto;}


/* COOKIE QUESTIONS
_________________________________________*/
.cookie {width:50%;}
.cookie svg {fill: rgba(123, 76, 39,1);}

#yescookie .cookie, #nocookie .cookie {
	width:30%;
    top: -200px;
}

#yescookie>div:last-of-type, #nocookie>div:last-of-type {top:115%;}

@media only screen and (min-device-width:320px) and (max-device-width:767px) and (-webkit-min-device-pixel-ratio:2){
	.cookie {width:70%;}
}

/* PROP LIST
_________________________________________*/

#prop59>div:first-of-type {
	position: absolute;
    bottom: 0;
    width: 50%;
}
	#prop59>div:first-of-type svg {
		fill:#fff;
	}

#prop59>div:last-of-type {
	position: absolute;
    right: 2%;
    top: 10%;
}

.coins {
	width: 100px;
    fill: #c5c558;
    position: absolute;
    z-index: 50;
}

@media only screen and (min-device-width:320px) and (max-device-width:767px) and (-webkit-min-device-pixel-ratio:2){
	#prop59>div:first-of-type {width:100%;}
	#prop59>div:last-of-type {
		position: absolute;
	    left: 50%;
	    transform: translateX(-50%);
	    width: 80%;
	    top: 10%;
	}
}

/* TUTORIAL SLIDE
_________________________________________*/

#tutorial h1 {
	margin-bottom: 5rem;
}

/* PROP QUESTIONS
_________________________________________*/
.propheader {
	overflow: hidden;
}

.propheader svg {
	width: 10%;
    position: absolute;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
    opacity: .4;
    top: 0;
    max-width: 100px;
}

.propheader h2 {
	text-align: center;
	text-transform: uppercase;
    font-family: 'cabin',san-serif;
    color: #333;
    margin-top: 1.5rem;
}

.propcaretleft {
	position: absolute;
    width: 50px;
    z-index: 100;
    left: 0;
    bottom: 5%;
    opacity:.3;
    display:none;
}

.propcaretright {
	position: absolute;
    width: 50px;
    z-index: 100;
    right: 0;
    bottom: 5%;
    opacity:.3;
    display:none;
}

.propquestion {
	width: 90%;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    position: absolute;
}

	.propquestion h1:first-of-type {
		text-align: center;
    	font-size: 10rem;
    	margin: 10rem 0;
	}

	.propquestion h1:last-of-type {
		font-size: 4rem;
   	 	line-height: 5rem;
	}

	

.propchoice {
	position: absolute;
    width: 90%;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

	.propchoice h3 {
		position: absolute;
	}

	.propchoice h3:first-of-type {left:0;}
	.propchoice h3:nth-of-type(2) {
		left: 50%;
   		transform: translateX(-50%);
   	}
	.propchoice h3:last-of-type {right:0;}


@media only screen and (min-device-width:320px) and (max-device-width:767px) and (-webkit-min-device-pixel-ratio:2){
	.propheader svg {
		width: 15%;	    
	    top: 25px;
	}

	.propquestion h1:last-of-type {
		font-size: 5rem;
   	 	line-height: 7rem;
	}

	.propchoice {
	    bottom: 9%;	    
	}
}